<div class="conatiner-fluid content-inner mt-n5 py-0">
   <div class="row">
      <div class="row col-md-12 col-lg-12">
         <div class="card col-md-3 col-lg-3 card-slide overflow-hidden d-slider1 ">
            <div class="card-body">
               <div class="progress-widget">
                  <div id="circle-progress-01" class="text-center circle-progress-01 circle-progress circle-progress-primary" data-min-value="0" data-max-value="100" data-value="80" data-type="percent">
                     <svg class="card-slie-arrow icon-24" width="24"  viewBox="0 0 24 24">
                        <path fill="currentColor" d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z" />
                     </svg>
                  </div>
                  <div class="progress-detail">
                     <p  class="mb-2">Nombre d'utilisateurs</p>
                     <h4 class="counter">{{ userLength }}</h4>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
 </div>